.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  position: absolute;
  top: -6rem;
}
.box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
}
.grid-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  border-right: 1px solid #e6ecf8;
  padding: 3rem 1.5rem;
}
.grid-content:last-child {
  border-right: none;
  border-bottom: none;
}

.icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  height: 5rem;
  position: relative;
  width: 3.7rem;
}
.icon-bg {
  height: 5rem;
  width: 3.7em;
  position: absolute;
  left: 0;
}
.icon {
  color: #ffff;
  height: 2rem;
  width: 1.75rem;
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
