*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;1,200&family=Nunito:wght@200;300;400&display=swap");

:root {
  --primary-color: hsl(266, 94%, 49%);
  --secondary-color: hsl(227, 49%, 15%);
  --blue-violet-100: hsl(269.2 97.4% 85.1%);
  --blue-violet-200: hsl(235, 87%, 70%);
  --blue-violet-300: hsl(229, 67%, 60%);
  --gray-dark-color: hsl(0, 1%, 37%);
  --beige-100: rgb(255, 247, 237);
  --white-color: hsl(0, 0%, 100%);
  --orange-color: hsl(33, 94%, 46%);
  --orange-100: hsl(37.7 92.1% 50.2%);
  --dark-grey: hsla(220, 27%, 22%, 0.651);
  --lightest-grey: hsl(220, 56%, 94%);
  --color-blue: hsl(191, 100%, 44%);
  --color-pink-100: rgb(252 231 239);
  --color-pink: hsl(303, 97%, 88%);
  --color-green-100: hsl(165, 83%, 37%);
  --light-shadow: 0 5px 5px 0 #e9f0f380, 0 0 0 1px var(--lightest-grey);

  /* FONTS */
  --font-primary: "Nunito";
  --font-secondary: "Lato";
  --font-tertiary: "Source serif pro";
}
html {
  margin: 0;
}

body {
  font-family: "Nunito", "Lato", "Source serif pro", Sans-Serif;
  color: var(--gray-dark-color);
  letter-spacing: 0.2px;
  line-height: 1.5;
}
header {
  /* background-color: var(--primary-color); */
  background-color: rgb(255, 247, 237);
  /* background-image: linear-gradient(
    to bottom,
    rgba(77, 101, 233, 0.9) 0%,
    rgba(114, 128, 237, 0.9) 99.01%
  ); */
}

h1 {
  font-size: 1.6rem;
  font-weight: 700;
  @media only screen and (min-width: 768px) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--secondary-color);
  @media only screen and (min-width: 992px) {
    font-size: 1.4rem;
  }
}
h3 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 400;
}
a:active,
a:visited {
  color: var(--secondary-color);
}

li {
  list-style: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease-in-out;
}
body.noscroll {
  overflow: hidden;
}
.active-link {
  border-bottom: 1px solid var(--lightest-grey);
}

@keyframes fadeIn {
  0% {
    transform: translate3d(0px, 100%, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0%, 0px);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  0% {
    transform: translate3d(0px, 0%, 0px);
    opacity: 1;
  }
  100% {
    transform: translate3d(0px, -20%, 0px);
    opacity: 0;
  }
}

.section {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem 3rem 1rem;
  text-align: center;

  @media only screen and (min-width: 768px) {
    max-width: 46rem;
    padding: 3rem 0 4rem 0;
  }

  @media only screen and (min-width: 992px) {
    max-width: 60rem;
    padding-bottom: 5rem;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 71.25rem;
  }

  @media only screen and (min-width: 1400px) {
    max-width: 82.5rem;
  }
}
